.product {
    display: flex;
    padding: 10px;
  }
  .thumbnail {
    max-width: 200px;
    width: 100%;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
  }
  .product .price {
    font-size: 16px;
    font-weight: 600;
  }
  .product .title {
    font-size: 17px;
    font-weight: 600;
  }
  .product .date {
    color: grey;
    font-size: 13px;
  }
  .detail-pic {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
  } 
  .chat-content {
    height: 450px;
    overflow-y: scroll;
    padding: 10px;
  }
  .chat-content li {
    margin-top: 10px;
  }
  .chat-box {
    color: white;
    background: rgb(151, 144, 144);
    padding: 5px;
    border-radius: 5px;
    float: left;
  }
  .mine {
    float: right;
    background-color: rgb(139, 192, 167);
  }