.product {
  display: flex;
  padding: 10px;
}
.thumbnail {
  max-width: 300px;
  width: 100%;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
}

  
  .detail-pic {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
  } 
  .chat-content {
    height: 450px;
    overflow-y: scroll;
    padding: 10px;
  }
  .chat-content li {
    margin-top: 10px;
  }
  .text-small {
    font-size: 12px;
    color: gray;
    margin-bottom: 0;
  }
  .chat-box {
    color: white;
    background: rgb(151, 144, 144);
    padding: 5px;
    border-radius: 5px;
    float: left;
    margin: 0%;
  }
  .mine {
    float: right;
    background-color: rgb(127, 179, 155);
  }
  .chat-date1 {
    float: right;
    margin-top: 0;
    padding-top: 0;
    font-size: 11px;
  }
  .chat-date2 {
    float: left;
    margin-top: 0;
    padding-top: 0;
    font-size: 11px;
  }
  .btn {
    font-weight: bold;
  }
  #upload {
    position: absolute;
    right: 0;
  }
  .btn-outline-success:hover {
    border: 1px solid white;
    color: white;
  }
  a {
    text-decoration: none;
  }
  .title-index {
    color: rgb(7, 95, 66);
    font-size: 25px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  #userName {
    color: black;
    font-weight: bold;
  }
  #brandName {
    color: black;
    font-weight: bold;
  }
  #nav-item {
    color: black;
  }

  




  .gallery {
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    width: 300px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }


  
  .gallery img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
  }
  
  .desc {
    padding: 20px;
    text-align: left;
  }