.product {
    display: flex;
    padding: 10px;
  }
  .thumbnail {
    max-width: 200px;
    width: 100%;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
  }
  .product .price {
    font-size: 16px;
    font-weight: 600;
  }
  .product .title {
    font-size: 17px;
    font-weight: 600;
  }
  .product .date {
    color: grey;
    font-size: 13px;
  }
  .detail-pic {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
  } 
  .chat-content {
    height: 450px;
    overflow-y: scroll;
    padding: 10px;
  }
  .chat-content li {
    margin-top: 10px;
  }
  .text-small {
    font-size: 12px;
    color: gray;
    margin-bottom: 0;
  }
  .chat-box {
    color: white;
    background: rgb(151, 144, 144);
    padding: 5px;
    border-radius: 5px;
    float: left;
    margin: 0%;
  }
  .mine {
    float: right;
    background-color: rgb(127, 179, 155);
  }
  .chat-date1 {
    float: right;
    margin-top: 0;
    padding-top: 0;
    font-size: 11px;
  }
  .chat-date2 {
    float: left;
    margin-top: 0;
    padding-top: 0;
    font-size: 11px;
  }
  .btn {
    position: absolute;
    right: 15%;
    font-weight: bold;
  }
  .btn-outline-success {
    background-color: white;
  }
  .btn-outline-success:hover {
    border: 1px solid white;
    color: white;
  }